env/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

noteboks/
dist/
build/
*.egg-info/

*.ipynb
*.ipynb_checkpoints/

*.pid
*celerybeat-schedule
*.schedule
logs/

notes/
*.txt
etc/.secrets

*.pickle
